<h2>질문 리스트</h2>

<h3>each 사용버전</h3>
<div th:if="${questionList != null}">
  <table>
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일시</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="question : ${questionList}">
        <td th:text="${question.id}"></td>
        <td th:text="${question.subject}"></td>
        <td th:text="${question.createDate}"></td>
      </tr>
    </tbody>
  </table>
</div>

<h3>loop 사용버전</h3>
<div th:if="${questionList != null}">
  <table>
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일시</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="question, loop : ${questionList}">
        <td>[[${loop.count}]]</td>
        <td th:text="${question.subject}"></td>
        <td th:text="${question.createDate}"></td>
      </tr>
    </tbody>
  </table>
</div>

